{% extends "base.html" %}
{% block title %}User page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p>Welcome {{ logged_user }}!!!</p>
    <form action="#" method="post">
        <label for="email"></label>
        <input type="email" name="email" placeholder="Enter your email!" id="email" value="{{ email }}">
        <input type="submit" value="submit">
    </form>
{% endblock %}